(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("C:\\ArqComp\\ProjetoMicroProcessador\\Lab5\\topLevelsincronia_tb.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "toplevelsincronia_tb",
                "uut",
                "uc_inst",
            ],
            id: Wellen((12)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "instr_jump",
                    id: Wellen((67)),
                ),
                color: None,
                background_color: None,
                display_name: "instr_jump",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "reg_instr_wr_en",
                    id: Wellen((60)),
                ),
                color: None,
                background_color: None,
                display_name: "reg_instr_wr_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "jump_en",
                    id: Wellen((61)),
                ),
                color: None,
                background_color: None,
                display_name: "jump_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "finished",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "finished",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "clk",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "jump_en",
                    id: Wellen((61)),
                ),
                color: None,
                background_color: None,
                display_name: "jump_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "pc_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "wr_en",
                    id: Wellen((33)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "uc_inst",
                            "maq_estados_inst",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "estado",
                    id: Wellen((77)),
                ),
                color: None,
                background_color: None,
                display_name: "estado [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "pc_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "data_out",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "…pc_inst.data_out [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "pc_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "data_in",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "…pc_inst.data_in [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "reg_instr_inst",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "data_in",
                    id: Wellen((48)),
                ),
                color: None,
                background_color: None,
                display_name: "…reg_instr_inst.data_in [17:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "rom_inst",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "dado",
                    id: Wellen((44)),
                ),
                color: None,
                background_color: None,
                display_name: "dado [17:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "reset",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevelsincronia_tb",
                            "uut",
                            "reg_instr_inst",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "data_out",
                    id: Wellen((49)),
                ),
                color: None,
                background_color: None,
                display_name: "…reg_instr_inst.data_out [17:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 48,
        viewports: [
            (
                curr_left: (0.12108578277677763),
                curr_right: (0.32298237905097593),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1250000000,
        ])),
        markers: {},
        focused_item: Some((9)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (6),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)