(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: Some(false),
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("C:\\ArqComp\\ProjetoMicroProcessador\\Lab3\\topLevel_tb.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "toplevel_tb",
                "uut",
                "bancoreg_inst",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                            "uut",
                            "bancoreg_inst",
                            "reg3",
                        ],
                        id: Wellen((11)),
                    ),
                    name: "data_out",
                    id: Wellen((90)),
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "…reg3.data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "wr_en_banco",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_banco",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "sel_acc",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "sel_acc",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "r_wr_banco",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "r_wr_banco [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "ld_or_mov_acc_rn",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "ld_or_mov_acc_rn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "saida_ula",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "saida_ula [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "wr_en_acumuladores",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_acumuladores",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                            "uut",
                            "bancoreg_inst",
                            "reg2",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "data_out",
                    id: Wellen((84)),
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "…reg2.data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "r_rd_banco",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "r_rd_banco [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "ld_or_mov_acc",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "ld_or_mov_acc [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "clk",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                            "uut",
                            "acumuladores_inst",
                            "acca",
                        ],
                        id: Wellen((17)),
                    ),
                    name: "data_out",
                    id: Wellen((132)),
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "…acca.data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                            "uut",
                            "acumuladores_inst",
                            "accb",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "data_out",
                    id: Wellen((138)),
                ),
                color: Some("Gray"),
                background_color: None,
                display_name: "…accb.data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "constante",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "constante [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "sel_op",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "sel_op [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "toplevel_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "data_out",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "…bancoreg_inst.data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 19,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            500000000,
        ])),
        markers: {},
        focused_item: Some((11)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)