(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("C:\\ArqComp\\ProjetoMicroProcessador\\Lab6\\processador_tb.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "processador_tb",
                "uut",
                "uc_inst",
            ],
            id: Wellen((12)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "wr_en_zero",
                    id: Wellen((118)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_zero",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r4_data_out",
                    id: Wellen((167)),
                ),
                color: None,
                background_color: None,
                display_name: "r4_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "reset",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "acumuladores_inst",
                            "accb",
                        ],
                        id: Wellen((30)),
                    ),
                    name: "registro",
                    id: Wellen((270)),
                ),
                color: None,
                background_color: None,
                display_name: "…accb.registro [15:0]",
                display_name_type: Unique,
                manual_name: Some("Acumulador B [15:0]"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r1_data_out",
                    id: Wellen((164)),
                ),
                color: None,
                background_color: None,
                display_name: "r1_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "wr_en_negative",
                    id: Wellen((119)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_negative",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "wr_en_overflow",
                    id: Wellen((117)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_overflow",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r5_data_out",
                    id: Wellen((168)),
                ),
                color: None,
                background_color: None,
                display_name: "r5_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "clk",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "reg_instr_inst",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "data_out",
                    id: Wellen((70)),
                ),
                color: None,
                background_color: None,
                display_name: "…reg_instr_inst.data_out [17:0]",
                display_name_type: Unique,
                manual_name: Some("acumulador [17:0]"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "acumuladores_inst",
                            "acca",
                        ],
                        id: Wellen((29)),
                    ),
                    name: "registro",
                    id: Wellen((264)),
                ),
                color: None,
                background_color: None,
                display_name: "…acca.registro [15:0]",
                display_name_type: Unique,
                manual_name: Some("Acumulador_A [15:0]"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r7_data_out",
                    id: Wellen((170)),
                ),
                color: None,
                background_color: None,
                display_name: "r7_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r0_data_out",
                    id: Wellen((163)),
                ),
                color: None,
                background_color: None,
                display_name: "r0_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r2_data_out",
                    id: Wellen((165)),
                ),
                color: None,
                background_color: None,
                display_name: "r2_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r6_data_out",
                    id: Wellen((169)),
                ),
                color: None,
                background_color: None,
                display_name: "r6_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "uc_inst",
                            "maq_estados_inst",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "estado_s",
                    id: Wellen((129)),
                ),
                color: None,
                background_color: None,
                display_name: "estado_s [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "pc_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "data_out",
                    id: Wellen((56)),
                ),
                color: None,
                background_color: None,
                display_name: "…pc_inst.data_out [6:0]",
                display_name_type: Unique,
                manual_name: Some("PC [6:0]"),
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "bancoreg_inst",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "r3_data_out",
                    id: Wellen((166)),
                ),
                color: None,
                background_color: None,
                display_name: "r3_data_out [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "ula_inst",
                        ],
                        id: Wellen((27)),
                    ),
                    name: "saida",
                    id: Wellen((230)),
                ),
                color: None,
                background_color: None,
                display_name: "saida [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "processador_tb",
                            "uut",
                            "uc_inst",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "wr_en_carry",
                    id: Wellen((116)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_en_carry",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 20,
        viewports: [
            (
                curr_left: (0.27807414080923054),
                curr_right: (0.29214671877428455),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            4226816627,
        ])),
        markers: {},
        focused_item: Some((2)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)